html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

body,
html {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

a {
	color: inherit;
	text-decoration: none
}

h1,
h2,
h3,
h4,
p {
	margin: 0
}

*,
:after,
:before {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit
}

@font-face {
	font-family: HAPEBEAST_Extended;
	src: url(../media/HAPEBEAST_BODL.b52fe42b.TTF)
}

.spinner {
	-webkit-animation: rotate 2s linear infinite;
	-moz-animation: rotate 2s linear infinite;
	animation: rotate 2s linear infinite;
	margin: -25px 0 0 -25px;
	width: 50px;
	height: 50px
}

.spinner .path {
	stroke: #fff;
	stroke-linecap: round;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	-moz-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite
}

@-webkit-keyframes rotate {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@-moz-keyframes rotate {
	to {
		-moz-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@keyframes rotate {
	to {
		-webkit-transform: rotate(1turn);
		-moz-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

@-webkit-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124
	}
}

@-moz-keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 150;
		stroke-dashoffset: 0
	}
	50% {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -35
	}
	to {
		stroke-dasharray: 90, 150;
		stroke-dashoffset: -124
	}
}